@import "glightbox/dist/css/glightbox.min.css";

.glightbox {
  cursor: pointer;
  display: block;
}

.glightbox img {
  transition: filter 0.3s ease-in-out;
}

.glightbox:hover img {
  filter: brightness(0.9);
}

.gslide-media.gslide-image img
 {
    border-radius: 0.75rem;
}