<IfModule mod_headers.c>
    # Applies the CSP globally to all files served by Apache
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-eval' https://static.cloudflareinsights.com; style-src 'self' 'unsafe-inline'; img-src 'self' data: https:;"
</IfModule>

Options -MultiViews
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteCond %{REQUEST_URI} !^/index\.html$
RewriteRule ^ /%1 [NC,L,R=301]

RewriteRule ^search/([^/]+)/?$ /search.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

ErrorDocument 404 /404.html