<IfModule mod_headers.c>
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline' https://npmariahospital.com https://static.cloudflareinsights.com https://www.tiktok.com https://*.ttwstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://*.ttwstatic.com; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data: https:; frame-src 'self' https://www.google.com https://maps.google.com https://googleusercontent.com https://www.tiktok.com;"
</IfModule>

Options -MultiViews
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,L]

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteCond %{REQUEST_URI} !^/index\.html$
RewriteRule ^ /%1 [NC,L,R=301]

RewriteRule ^search/([^/]+)/?$ /search.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

ErrorDocument 404 /404.html