@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
  --font-zalando: "Zalando Sans", sans-serif;
  --color-dark-navy: #002b53;
  --color-accent-navy: #21409a;
  --color-grey: #414042;
  --color-danger: #f20a3d;
  --color-warning: #e4b922;
  --color-info: #00b6f1;
  --color-white-pearl: #f5f5f5;
  --color-soft-blue: #e9eeff;
}

[x-cloak] {
  display: none !important;
}
