@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-google-sans: "Google Sans", sans-serif;
  --color-dark-navy: #002b53;
  --color-accent-navy: #21409a;
  --color-maria-black: #414042;
  --color-maria-gray: #6c6c6c;
  --color-danger: #f20a3d;
  --color-warning: #e4b922;
  --color-info: #00b6f1;
  --color-white-pearl: #f5f5f5;
  --color-soft-blue: #e9eeff;
}

[x-cloak] {
  display: none;
}

.prose li::marker {
  color: var(--color-info);
}

.prose h1,
.prose h2,
.prose h3 {
  color: var(--color-accent-navy);
}

.prose a:hover {
  color: var(--color-info);
  transition: color 0.3s ease;
  text-decoration: none;
}
